/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2018, 16:52:08
    Author     : Irene
*/


*{
    margin:0;
    padding:0;
}

body, html{

    height: 100vh;
    width: 100vw;
    background-image: url('IMG/fondo.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

.contenedor{

    height: 100vh;
}

li a {
    font-size: 1.5rem;
}

@media (max-width: 768px) { 

    li a {
        font-size: 1.5rem;
    }

    li{
        background:#161616 !important;
    }
}

.opaco{
    opacity:0.9;    
}

#seccionContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#seccionContainer div{
    background-color:#fff;

}

#seccionContainer div form{
    margin:0.2rem;
}

/*FORMULARIOS*/

#titulo{
    color:black !important;
}
.form-group{
    margin-bottom:0.4rem;
}

#seccionContainer .container{
    width: 50% !important;
    border: 2px solid #676f76;
    box-shadow: 2px 2px 5px #676f76;
}

form{
    width: auto !important;
    text-align:center;
}


/*PRUEBA FORM*/
.register-photo .image-holder {
  display:table-cell;
  width:40%;
  background:url('IMG/bajaVotante.jpg');
  background-size:cover;
}

.register-photo .form-container {
  display:table;
  max-width:900px;
  width:auto;
  margin:0 auto;
  /*box-shadow:1px 1px 5px rgba(0,0,0,0.1);*/
  transition: height 3s;
}

.register-photo form {
  display:table-cell;
  width:400px;
  background-color:#ffffff;
  padding:40px 60px;
  color:#505e6c;
}
